<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00</td>        <!-- time    -->
        <td>Arrival, registration, morning refreshments</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:30</td>        <!-- time    -->
        <td>Begin</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>09:35</td>        <!-- time    -->
        <td>Housekeeping and Collaborative Notes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>09:40</td>        <!-- time    -->
        <td>Introducing the Shell</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>09:50</td>        <!-- time    -->
        <td>Navigating Files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>10:30</td>        <!-- time    -->
        <td>Working with files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>11:30</td>        <!-- time    -->
        <td>Pipes and Filters</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>11:50</td>        <!-- time    -->
        <td><strong>Lunch</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>13:10</td>        <!-- time    -->
        <td>Pipes and Filters (cont.)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td>13:20</td>        <!-- time    -->
        <td>Loops</td>
      </tr>
      <tr>               <!-- row 12   -->
        <td>14:15</td>        <!-- time    -->
        <td><strong>Afternoon break</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 13   -->
        <td>14:30</td>        <!-- time    -->
        <td>Shell Scripts</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 14   -->
        <td>15:10</td>        <!-- time    -->
        <td>Finding Things</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 15   -->
        <td>16:20</td>        <!-- time    -->
        <td>Feedback form</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 16   -->
        <td>16:30</td>        <!-- time    -->
        <td><strong>Close</strong>></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
