<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00</td>        <!-- time    -->
        <td><strong>Arrival, registration, morning refreshments</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:30</td>        <!-- time    -->
        <td>Begin</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>09:35</td>        <!-- time    -->
        <td>Housekeeping and Collaborative Notes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>09:40</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/01-intro.html">Introducing the Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>09:50</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/02-filedir.html">Navigating Files and Directories</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>10:30</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/03-create.html">Working with files and Directories</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>11:30</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/04-pipefilter.html">Pipes and Filters</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>11:50</td>        <!-- time    -->
        <td><strong>Lunch</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>13:10</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/04-pipefilter.html">Pipes and Filters (cont.)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td>13:20</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/05-loop.html">Loops</a></td>
      </tr>
      <tr>               <!-- row 12   -->
        <td>14:15</td>        <!-- time    -->
        <td><strong>Afternoon break</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 13   -->
        <td>14:30</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/06-script.html">Shell Scripts</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 14   -->
        <td>15:10</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/07-find.html">Finding Things</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 15   -->
        <td>16:20</td>        <!-- time    -->
        <td><a href="https://forms.office.com/e/kkNKQzZ8aY">Feedback form</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>16:25</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 16   -->
        <td>16:30</td>        <!-- time    -->
        <td><strong>Close</strong></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>09:00</td>
        <td><strong>Arrival, registration, morning refreshments</strong></td>
      </tr>
      <tr>               <!-- row 1   -->
        <td>09:30</td>        <!-- time    -->
        <td><a href="http://gcapes.github.io/git-course/01-introduction/index.html">Introduction</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:40</td>        <!-- time    -->
        <td><a href="http://gcapes.github.io/git-course/02-local/index.html">Tracking changes with a local repository</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:15</td>        <!-- time    -->
        <td><a href="http://gcapes.github.io/git-course/03-history/index.html">Looking at history and differences</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>10:50</td>
        <td><a href="http://gcapes.github.io/git-course/03-history/index.html">Looking at history and differences</a></td>
      </tr>
      <tr>
        <td>11:05</td>
        <td><strong><a href="http://gcapes.github.io/git-course/04-break/index.html">Break</a></strong></td>
      </tr>
      <tr>
        <td>11:20</td>
        <td><a href="http://gcapes.github.io/git-course/06-branching/index.html">Branching</a></td>
      </tr>
      <tr>
        <td>12:00</td>
        <td><strong><a href="http://gcapes.github.io/git-course/07-lunch/index.html">Lunch break</a></strong></td>
      </tr>
      <tr>
        <td>13:00</td>
        <td><a href="http://gcapes.github.io/git-course/08-undoing/index.html">Undoing changes</a></td>
      </tr>
      <tr>
        <td>13:25</td>
        <td><a href="http://gcapes.github.io/git-course/09-remote/index.html">Working from multiple locations with a remote repository</a></td>
      </tr>
      <tr>
        <td>13:55</td>
        <td><a href="http://gcapes.github.io/git-course/10-remote-collaboration/index.html">Collaborating with a remote repository</a></td>
      </tr>
      <tr>
        <td>14:35</td>
        <td><strong><a href="http://gcapes.github.io/git-course/11-break/index.html">Break</a></strong></td>
      </tr>
      <tr>
        <td>14:50</td>
        <td><a href="http://gcapes.github.io/git-course/12-rebasing/index.html">Rebasing</a></td>
      </tr>
      <tr>
        <td>15:15</td>
        <td><a href="http://gcapes.github.io/git-course/13-pull-requests/index.html">Pull Requests</a></td>
      </tr>
      <tr>
        <td>15:35</td>
        <td><a href="http://gcapes.github.io/git-course/14-hints-and-tips/index.html">Git hints and tips</a></td>
      </tr>
      <tr>
        <td>15:50</td>
        <td><a href="http://gcapes.github.io/git-course/15-conclusion/index.html">Conclusions and further information</a></td>
      </tr>
      <tr>
        <td>15:55</td>
        <td><a href="https://forms.office.com/e/kkNKQzZ8aY">Feedback form</a></td>
      </tr>
      <tr>
        <td>16:00</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
        <td>16:05</td>
        <td><strong>Close</strong></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>09:00</td>
        <td><strong>Arrival, registration, morning refreshments</strong></td>
      </tr>
      <tr>
        <td>09:30</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/01-intro.html">Python Fundamentals</a></td>
      </tr>
      <tr>
        <td>10:00</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy.html">Analyzing Patient Data</a></td>
      </tr>
      <tr>
        <td>10:30</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib.html">Visualizing Tabular Data</a></td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><strong>Break</strong></td>
      </tr>
      <tr>
        <td>11:00</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib.html">Visualizing Tabular Data (cont.)</a></td>
      </tr>
      <tr>
        <td>11:45</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-lists.html">Storing Multiple Values in Lists</a></td>
      </tr>
      <tr>
        <td>12:15</td>
        <td><strong>Lunch</strong></td>
      </tr>
      <tr>
        <td>13:15</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-lists.html">Storing Multiple Values in Lists (cont.)</a></td>
      </tr>
      <tr>
        <td>13:30</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/05-loop.html">Repeating Actions with Loops</a></td>
      </tr>
      <tr>
        <td>14:00</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/06-files.html">Analyzing Data from Multiple Files</a></td>
      </tr>
      <tr>
        <td>14:15</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/07-cond.html">Making Choices</a></td>
      </tr>
      <tr>
        <td>14:30</td>
        <td><strong>Break</strong></td>
      </tr>
      <tr>
        <td>14:45</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/07-cond.html">Making Choices (cont.)</a></td>
      </tr>
      <tr>
        <td>15:00</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/08-func.html">Creating Functions</a></td>
      </tr>
      <tr>
        <td>15:30</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/09-errors.html">Errors and Exceptions</a></td>
      </tr>
      <tr>
        <td>16:00</td>
        <td><a href="https://forms.office.com/e/kkNKQzZ8aY">Feedback form</a></td>
      </tr>
      <tr>
        <td>16:05</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
        <td>16:10</td>
        <td><strong>Close</strong></td>
      </tr>
    </table>
  </div>
</div>
